<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CountDownTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A101DB081D1A2A6C00D4EB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A101DB211D1A2A6C00D4EB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A101DB2C1D1A2A6C00D4EB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
